<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
	font-family: 'Nunito', sans-serif;
}

.container {
	padding-top: 10px;
	padding-bottom: 20px;
}
=======
table {
  padding: 0;border-collapse: collapse;
}
table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0;
}
.error{
  padding-right: 2em;
}
>>>>>>> cb67f821028cf7c190eba2e660860bf3e44b54ec
